<!DOCTYPE html>
<html>

<head>
  <script src="candidates.js"></script>
  <style type="text/css"></style>
  <link href="main.css" rel="stylesheet" type="text/css">
  <link href="candidates.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="page-background">

  <div class="page-container">

    <!-- NAVIGATION BAR -->
    <div class="nav-bar-wrapper">
      <div class="nav-bar">

        <a href="/">
          <img
            class="next-logo"
            src="/assets/Next-Canada-RGB.png"
            alt=""/>
        </a>
        <div class="hamburger-menu">
          <a class="nav-button" href="./users">Sign Up</a>
        <a class="nav-button" style="color: #D8272D; font-weight: 700;"href="/login">Log In</a>
        </div>

      </div>
    </div>

    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <div class="content-container--home">

      <%= form_for(:session, url: login_path) do |f| %>

      <div class="sign-up__container">

        <!-- PAGE HEADER -->
        <div class="header-2" style="text-align: center;">
            Log In
        </div>

        <div class="sign-up__row">
          <%= f.label :email, class: 'sign-up__variable' %>
          <%= f.text_field :email, class: 'sign-up__value form-control', placeholder: 'Your Email' %>
        </div>

        <div class="sign-up__row">
          <%= f.label :password, class: 'sign-up__variable' %>
          <%= f.password_field :password, class: 'sign-up__value form-control'%>
        </div>

        <div align="center">
          <%= f.label :remember_me, style: "padding-left:55px", class: "sign-up__variable" do %>
          <%= f.check_box :remember_me %><span style="padding-left:10px;">Remember me</span>
          <% end %>
        </div>

        <div>
          <br/>
          <p align="center">New user? <%= link_to "Sign up now!", users_path, style: 'color:#D8272D;' %></p>
        </div>

        <div align= "center">
          <%= link_to "Forgot password?", new_password_reset_path, style: "color : #D8272D;" %>
        </div>

        <div class="sign-up__row row-reverse">
          <%= f.submit "Log In", class: "submit__button" %>
        </div>



      </div>

      <% end %>
    </div>

    <div class="footer-container">
      <img
        class="next-logo"
        src="/assets/Next-Canada-RGB.png"
        alt=""/>
      <div class="vertical-separator"></div>
      <div class="next-canada-alumni-footer">Next Canada Alumni Job Board</div>
    </div>

   </div>

  </div>

</body>

</html>