<!DOCTYPE html>
<html>

<body>

	<div class="page-background">
	<div class="page-container">

	  <!-- NAVIGATION BAR -->
    <div class="nav-bar-wrapper">
      <div class="nav-bar">

  	  	<%= render 'layouts/header' %>  
        <div class="hamburger-menu">
          <a class="nav-button" href="/jobs">Jobs</a>
          <a class="nav-button" href="/candidate">Candidates</a>
          <%= link_to "Settings", edit_user_path(current_user), class: "nav-button--colored"%>
          <a class="nav-button" target="_blank" href="https://docs.google.com/forms/d/1cKYAyX2_6A8f66zet6fNKarAsKw-Vm1cYEsiaF2fwjA/viewform?edit_requested=true">Give Feedback</a>
          <a class="nav-button" href="/logout" data-method="delete">Log Out</a>
        </div>

      </div>
    </div>


	  <div class="content-container" style="margin-top: 50px">
      
		  <!-- PAGE HEADER -->
		  <div class="header-2">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
		  	Change Settings for Account: <p style="color:#D8272D;"><%= @user[:email] %></p>
		  </div>


		  <div class="account-settings__container">
		  	<%= form_for(@user) do |f| %>
		  		<%= render 'shared/error_messages', object: f.object %>

			  	<div class="account-settings__row">
			  		<%= f.label :name, class: 'account-settings__variable'%>
			  		<%= f.text_field :name, class: 'account-settings__value'%>
			  	</div>

			  	<div class="row-separator"></div>

			  	<div class="account-settings__row">
			  		<%= f.label :new_password, class: 'account-settings__variable'%>
			  		<%= f.password_field :password, class: 'account-settings__value'%>
			  	</div>

			  	<div class="row-separator"></div>

			  	<div class="account-settings__row">
			  		<%= f.label :confirm_new_password, class: 'account-settings__variable'%>
			  		<%= f.password_field :password_confirmation, class: 'account-settings__value' %>
			  	</div>

			  	<div class="row-separator"></div>

			  	<div class="account-settings__row row-reverse">
			  		<%= f.submit "Save Changes", class: "account-settings__logout" %>
			  	</div>
		  	<% end %>
		  </div>

		</div>

	 </div>

	</div>

</body>

</html>