<!DOCTYPE html>
<html>

<body>

	<div class="page-background">

	<div class="page-container">

	  <!-- NAVIGATION BAR -->
	  <div class="nav-bar">

	  	<a href="/">
	  		<img
		  		class="next-logo"
		  		src="../../../assets/Next-Canada-RGB.png"
		  		alt=""/>
	  	</a>

	  	<div class="hamburger-menu">
	  		<a class="nav-button" href="/jobs">Jobs</a>
	  		<a class="nav-button" href="/candidate">Candidates</a>
	  		<%= link_to "Settings", edit_user_path(current_user), class: "nav-button", style: "color: #D8272D; font-weight: 700;" %>
	  		<a class="nav-button" href="/logout" data-method="delete">Log Out</a>
	  	</div>

	  </div>


	  <div class="content-container" style="margin-top: 50px">

		  <!-- PAGE HEADER -->
		  <div class="page-header h-1">
		  	Account Settings <p style="color:#D8272D;"><%= @user[:email] %></p>
		  </div>


		  <div class="account-settings__container">
		  	<%= form_for(@user) do |f| %>
		  		<%= render 'shared/error_messages', object: f.object %>

			  	<div class="account-settings__row">
			  		<%= f.label :name, class: 'account-settings__variable'%>
			  		<%= f.text_field :name, class: 'account-settings__value'%>
			  	</div>

			  	<div class="row-separator"></div>

			  	<div class="account-settings__row">
			  		<%= f.label :password, class: 'account-settings__variable'%>
			  		<%= f.password_field :password, class: 'account-settings__value'%>
			  	</div>

			  	<div class="row-separator"></div>

			  	<div class="account-settings__row">
			  		<%= f.label :password_confirmation, class: 'account-settings__variable'%>
			  		<%= f.password_field :password_confirmation, class: 'account-settings__value' %>
			  	</div>

			  	<div class="row-separator"></div>

			  	<div class="account-settings__row row-reverse">
			  		<%= f.submit "Save Changes", class: "account-settings__logout" %>
			  	</div>
		  	<% end %>
		  </div>

		</div>

	 </div>

	</div>

</body>

</html>