<!DOCTYPE html>
<html>

<body>

	<div class="page-background">

	<div class="page-container">

	  <!-- NAVIGATION BAR -->
    <div class="nav-bar-wrapper">
      <div class="nav-bar">

	  	  <%= render 'layouts/header' %>  
        
        <div class="hamburger-menu">
          <a class="nav-button" href="./users">Sign Up</a>
        <a class="nav-button" style="color: #D8272D; font-weight: 700;"href="/login">Log In</a>
        </div>

      </div>
    </div>


	  <div class="content-container" style="margin-top: 20px">


		  <div class="sign-up__container">
		  	<!-- PAGE HEADER -->
			  <div class="header-2">
			  	Sign Up
			  </div>
			  <div class="header-2">
			  	Get Access to the Next Alumni Network
			  </div>

		  	<%= form_for(@user) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
		  		<div class="sign-up__row">
		  			<%= f.label :name, class: 'sign-up__variable' %>
		  			<%= f.text_field :name, class: 'sign-up__value form-control', placeholder: 'Your Name' %>
					</div>

					<div class="sign-up__row">
						<%= f.label :email, class: 'sign-up__variable' %>
			  		<%= f.text_field :email, class: 'sign-up__value form-control', placeholder: 'Your Email' %>
					</div>

					<div class="sign-up__row">
			  		<%= f.label :password, class: 'sign-up__variable' %>
			  		<%= f.password_field :password, class: 'sign-up__value form-control'%>
					</div>

					<div class="sign-up__row">
						<%= f.label :password_confirmation, "Confirmation", class: 'sign-up__variable' %>
						<%= f.password_field :password_confirmation, class: 'sign-up__value form-control' %>
			  	</div>

			  	<div>
          <p align="center">Already have an account? <%= link_to "Log In!", login_path, style: 'color:#D8272D;' %></p>
        </div>

			  	<div class="sign-up__row row-reverse">
		  			<%= f.submit "Sign Up", class: "submit__button" %>
		  		</div>

				<% end %>

		</div>

	 	</div>


	 	<div class="footer-container">
      <img
        class="next-logo"
        src="/assets/Next-Canada-RGB.png"
        alt=""/>
      <div class="vertical-separator"></div>
      <div class="next-canada-alumni-footer">Next Canada Alumni Job Board</div>
    </div>

	</div>

</body>

</html>